body {
    background-color: rgb(248, 248, 248);
    font-family: sans-serif;
}

.card {
    background-color: #FFF;
    display: block;
    width: 80%;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    padding: 40px;
    margin: 50px;
}